<%- include("partials/header") %>
<section class="empty-cart">

    <div class="order cointainer">
        <h4><span><img src="img/cart-black.png" alt=""></span>Order summary</h4><hr>

    </div>
    <div class="pizza-list order">
        <div class="flex">
            <img class="order-img" src="img/piz1.jpg" alt="">
    
        <div class="order-detail">
            <h5>Margherita</h5>
            <span>Medium</span>
        </div>
        <span class="pizza-no">1 Pcs</span>
        <span class="pizza-price">Rs.300</span>
    </div>
    </div>
    <div class="pizza-list order">
        <div class="flex">
            <img class="order-img" src="img/piz1.jpg" alt="">
    
        <div class="order-detail">
            <h5>Margherita</h5>
            <span>Medium</span>
        </div>
        <span class="pizza-no">1 Pcs</span>
        <span class="pizza-price">Rs.300</span>
    </div>
    </div>
    <div class="pizza-list order">
        <div class="flex">
            <img class="order-img" src="img/piz1.jpg" alt="">
    
        <div class="order-detail">
            <h5>Margherita</h5>
            <span>Medium</span>
        </div>
        <span class="pizza-no">1 Pcs</span>
        <span class="pizza-price">Rs.300</span>
    </div>
    <hr>
    <div class="amount-detail">
        <span>Total Amount:</span><span class="amount">Rs 300</span>
    </div>
   <form action="">
    <input class="address-detail" type="text" name="address" placeholder="address"><br>
    <input class="address-detail" type="number" name="mobilenumber" placeholder="Phone No.">
    <button type="submit" class="btn">Place Order</button>

    </form>
    </div>

<!----    <div class="cointainer">
        <h2 class="emptytext">Cart Empty🙁</h2>
        <p class="emptypara">You propably haven't ordered a pizza yet<br>   
            To order a pizza, go to the main page
        </p>
       <div class="emptyimg"> <img src="img/empty-cart.png" alt=""></div>
       <div class="emptybutton">
           <form action="/"><button class="herobutton" >Go back</button></form></div>
    </div>-->
</section>

